<log4net>
    <root>
        <level value="ALL" />
        <appender-ref ref="console" />
        <appender-ref ref="file" />
    </root>

    <logger name="main">
      <level value="debug" />
    </logger>

    <!-- don't spam the log with hibernate messages -->
    <logger name="NHibernate">
      <level value="WARN" />
    </logger>

    <appender name="console" type="Logging.GodotAppender">
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%date %-5level %logger (%class:%line) - %message%newline" />
        </layout>
    </appender>
    <appender name="file" type="log4net.Appender.RollingFileAppender">
        <file value="logs/app.log" />
        <appendToFile value="true" />
        <rollingStyle value="Size" />
        <maxSizeRollBackups value="3" />
        <maximumFileSize value="10MB" />
        <staticLogFileName value="true" />
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%date [%thread] %-5level %logger (%class:%line) - %message%newline" />
        </layout>
    </appender>
</log4net>